@if (ShowDialog)
{
    <div class="modal fade show d-block" id="addProfileModal" tabindex="1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Add Profile</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" @onclick="Close" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" @onclick="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
}