@page "/settings"
@if (RadioValue == "st")
{
    <SmkTestEditor></SmkTestEditor>
}
else
{
    <SmkWebJobEditor></SmkWebJobEditor>
}


<input type="radio" class="btn-check" name="options" id="option1" value="st" @onchange="RadioSelection" autocomplete="off" checked>
<label class="btn btn-secondary" for="option1">Smoke Test</label>

<input type="radio" class="btn-check" name="options" id="option2" value="wj" @onchange="RadioSelection" autocomplete="off">
<label class="btn btn-secondary" for="option2">Web Jobs</label>




@code
{
    string RadioValue = "st";
    protected override async Task OnInitializedAsync()
    {
        //Add memory so we remember where we were.
    }

    void RadioSelection(ChangeEventArgs args)
    {
        RadioValue = args.Value.ToString();
    }

}



